<form>
    
    <div class="input-group mb-3">
        <input type = "text"
            name="inputTodo"
            placeholder="Enter todo..."
            class="form-control"
            [(ngModel)]="inputTodo"
            #taskName = "ngModel"
            required
        />

        <input *ngIf="taskName?.value?.length >3; else disabledbtn" 
            type="submit"
            value="Add Todo"
            class="btn btn-primary"
            (click)="addTodo()"/>

            <ng-template #disabledbtn>
                <input
                type="submit"
                value="Add Todo"
                class="btn btn-primary"
                disabled/>
            </ng-template>
        

    </div>

    <div class="input-group mb-3">
        <span [hidden] ="taskName.valid || taskName.pristine">
            <p>This input can not be empty <br> and minimum length is 4 character</p> 
        </span>
    </div>

    <div class="input-group mb-3">
        <span>
            <p class> You have type {{taskName?.value?.length}} character(s)</p> 
        </span>
    </div>

    
</form>